* {
    margin: 0;
    padding: 0;
    
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(34, 5, 67);
    perspective: 1000px;
}


.card {
    width: 300px;
    height: 450px;
    border-radius: 10px;
    background: black;
    outline: solid white 0.1px;
    overflow: hidden;
    padding: 4px;
    position: relative;
}

.image {
    width: 100%;
    height: 100%;
    background: orange;
}

.image-rotate {
    animation: rotateImage 0.2s ease-in-out forwards;
    .image {
        background: red;
    }
}

.image-rotate1 {
    animation: rotateImage1 0.2s ease-in-out forwards;
    .image {
        background: orange;
    }
}

@keyframes rotateImage {
    from {
        transform: rotate3d(0,1,0deg);
    }

    to {
        transform: rotate3d(0,1,0,180deg);
        
    }
}

@keyframes rotateImage1 {
    from {
        transform: rotate3d(0,1,0deg);
    }

    to {
        transform: rotate3d(0,1,0,180deg);
        
    }
}